.bottom-margin {
  margin-bottom : 20px;
}

.border-post-answer{
  border : 1px solid black;
}

.left-margin-post-answer {
  display : inline-block;
  margin-left : 20px;
}

.ul-style {
  list-style: none;
  list-style-type: none;
}

.question-div{
  display:inline-block;
  margin-right:8px;
}

.question-tags{
  background-color:#e1ebf7;
  color:#1a91eb;
}

#header-strip ul {
  display: flex;
  margin: 0;
  padding: 0;
  color: black;
  width: 100%;
  list-style-type: none;
}

#header-strip li {
 margin:0 2%;
}


