.bottom-margin {
  margin-bottom : 20px;
}

.border-post-answer{
  border : 1px solid black;
}

.left-margin-post-answer {
  display : inline-block;
  margin-left : 20px;
}

.ul-style {
  list-style: none;
  list-style-type: none;
}

.question-div{
  display:inline-block;
  margin-right:8px;
}

.question-tags{
  background-color:#e1ebf7;
  color:#1a91eb;
}

#header-strip ul {
  display: flex;
  margin: 0;
  padding: 0;
  color: black;
  width: 100%;
  list-style-type: none;
}

#header-strip li {
 margin:0 2%;
}

.btnupdown{
  width: 25px !important;
  height: 25px !important;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btnupdownicon{
  font-size: 13px !important;
  margin-top: 7px !important;
  margin-left: 7px !important;
}
.mrginevotescountanswer{
  margin-left: 7px!important;
}

.question-hyperlink {
  margin-left: -50px;
}

@media only screen and (min-width: 450px) {
  .question-hyperlink {
    margin-left: -10px;
    font-size : 30px;
  }
}

@media only screen and (max-width: 450px) {
  .question-hyperlink {
    margin-left: -20px;
    font-size : 15px;
  }
}